body {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-width: 100%;
    width: 1366px;
 
    position: relative;
}
/*header*/
.header {
/*    z-index: 1;*/
    height: 682px;
    background-color: #ef5350;
}

.header-line1 {
    height: 22px;
    background-color: #04e4a2;
}

.header-line2 {
    height: 76px;
    color: white;
    background-color: #e94643;
    display: flex;
}

.header-line2-text1 {
    font-size: 26pt;
    font-family: "Montserrat-Bold", "Arial", "sans-serif";
    margin-left: 16.6%;
    margin-top: 15px;
}

.header-line2-text2 {
    font-size: 14.8pt;
    color: white;
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    border-bottom: 2px solid yellow;
    margin-left: 57.3%;
    margin-top: 23px;
    height: 23px;
}

.header-content {
    float: right;
    margin-left: 52.0%;
    margin-right: 10%;
    margin-top: 11.8%;
    color: white;
}

.header-content-title {
    font-family: "Montserrat-Regular", "Arial", "sans-serif";
    text-transform: uppercase;
    font-size: 22.8pt;
    padding-bottom: 5px;
    font-weight: normal;
}

.header-content-text {
    font-size: 13.5pt;
    font-family: "Montserrat-UltraLight", "Arial", "sans-serif";
    padding-bottom: 36px;
}

.header-content-button-container {
    text-align: right;
    margin-right: 17px;
}

.header-content-button-submit {
    font-family: "Montserrat-Regular", "Arial", "sans-serif";
    color: white;
    background-color: #04e4a2;
    font-size: 13.5pt;
    width: 167px;
    height: 53px;
    border: 0;
    border-radius: 5px;
    margin-right: 6px;
    cursor: pointer;
}

.header-content-image-phone {
    left: 190px;
    top: 163px;
    position: absolute;
    z-index: 2;
}

.header-content-image-disney {
    left: 218px;
    top: 280px;
    position: absolute;
    z-index: 1;
}

.header-content-image-greenlines {
    z-index: 0;
}

.header-content-image-greenline1 {
    top: 130px;
    position: absolute;
}

.header-content-image-greenline2 {
    top: 22px;
    position: absolute;
}
/*content*/
.content {
    height: 100%;
    padding-bottom: 100px;
}

.content-form {
    margin-top: 29px;
    margin-left: 51.8%;
    margin-right: 20%;
    min-width: 543px;    
}

.content-form-title {
    color: #ff8a80;
    font-family: "Montserrat-Light", "Arial", "sans-serif";
    font-size: 15pt;
    text-align: left;
    margin-bottom: 17px;
    margin-left: 23px;
    font-weight: normal;
}

.content-form-button-conteiner {
    text-align: right;
}

.content-form-conteiner {
    display: table;
}

.content-form-conteiner-row {
    display: table-cell;
}

.content-form-button-submit {
    color: white;
    font-family: "Montserrat-SemiBold", "Arial", "sans-serif";
    width: 120px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    margin-right: 22px;
    margin-top: 2px;
    font-size: 19px;
    cursor: pointer;
    background-color: #ef5350;
}

.content-form-name,
.content-form-lastname,
.content-form-email,
.content-form-option {
    color: #636363;
    font-family: "Montserrat-Light", "Arial", "sans-serif";
    border: 2px solid #e3f2fd;
    border-radius: 3px;
    margin-bottom: 16px;
    font-size: 12pt;
    padding: 12px 0 15px 18px;
    margin-right: 22px;
    width: 228px;
}

.content-form-option {
    display: flex;
    font-size: 12pt;
    padding: 12px 0px 13px 32px;
    margin-right: 22px;
    cursor: pointer;
    width: 213px;
}

.content-form-option-icon {
    margin-left: 83px;
    margin-top: 5px;
    height: 10px;
}

.content-form-textarea {
    color: #636363;
    font-family: "Montserrat-Light", "Arial", "sans-serif";
    border: 2px solid #e3f2fd;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 12pt;
    resize: none;
    padding: 12px 0 47px 20px;
    width: 497px;
}
/*footer*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fefcf2;
    height: 50px;
    padding-top:21px;
    color: #636363;
    font-family: "Montserrat-Light", "Arial", "sans-serif";
    display: flex;
}

.footer-text {
    margin-left: 14.0%;
    margin-top: 6px;
    font-size: 11.5pt;
}

.footer-mail {
    margin-left: 25.0%;
    height: 24px;
    display: flex;
    margin-top: 3px;
}

.footer-mail-text {
    margin-left: 8.9%;
    margin-top: 3px;
}