body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.content {
    max-width: 1366px;
    max-height: 1932px;
}

.block-left {
    float: left;
    max-width: 33.7%;
    margin-left: 5%;
}

.block-right {
    float: right;
    max-width: 51.8%;
    margin-right: 3.3%;
}
/*component-name*/
.component-name-container {
    max-width: 100%;
}

.component-name {
    margin-top: 21.3%;
    margin-left: 18.3%;
    line-height: 54.4px;
    display: inline-block;
}

.component-name-photo-disc {
    width: 254.0px;
    height: 254.0px;
    border: 1px solid #3d6cb0;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;   
}

.component-name-photo-circle {
    background-color: #3d6cb0;
    width: 222.1px;
    height: 222.1px;
    border-radius: 50%;
    margin: auto;
    margin-top: 16.1px;
}

.component-name-info {  
    margin:0;
    padding: 0;
}

.component-name-info-name {
	font-family: "MyriadPro-LightSemiExt", "Arial", "sans-serif";
    font-size: 44.0pt;  
}

.component-name-info-surname {
	font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    font-size: 50.6pt; 
}

.component-name-info-profession {
	font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    margin: 5.4px;
    font-size: 19.8pt;
    text-align: center;
}
/*component-profile*/
.component-profile {
    margin-top: 14.9%;
}

.component-profile-header {
    display: -webkit-flex;
    display: flex; 
    margin-bottom: 13px;
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0;
}

.component-profile-header-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 79px;
}

.component-profile-header-text {
    font-size: 34.5pt;
    margin-top: 9px;
    margin-bottom: auto;
    margin-left: 9px;
}

.component-profile-header-line {
    margin-top: 36px;
    margin-bottom: auto;
    margin-left: 6px;
    width: 100%;
    height: 5px;
    background-color: #3d6cb0;
}

.component-profile-content-text {
    line-height: 20.9px;
    margin-top: 0px;
    margin-left: 1.2px;
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 17.0px;
    display: inline;
}

.component-profile-content-text-bold {
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    line-height: 21.0px;
    display: inline;
}
/*component-contact*/
.component-contact {
    margin-top: 11.1%;
  
}

.component-contact-header {
    display: -webkit-flex;
    display: flex; 
    margin-bottom: 32px;
}

.component-contact-header-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 79px;
}

.component-contact-header-text {
    font-size: 34.5pt;
    margin-top: 9px;
    margin-bottom: auto;
    margin-left: 11.2px;
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0;
}

.component-contact-header-line {
    margin-top: 36px;
    margin-bottom: auto;
    margin-left: 7px;
    width: 100%;
    height: 5px;
    background-color: #3d6cb0;
}

.component-contact-content {
   display: inline-block;
}

.component-contact-content-address,
.component-contact-content-email,
.component-contact-content-phone,
.component-contact-content-website {
    display: -webkit-flex;
    display: flex;
}

.component-contact-content-address-text,
.component-contact-content-email-text,
.component-contact-content-phone-text,
.component-contact-content-website-text {
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0;
    font-size: 16.6pt;
    margin-left: 0px;
    min-width: 95px;
    display: inline-block;
}

.component-contact-content-address-value,
.component-contact-content-email-value,
.component-contact-content-phone-value,
.component-contact-content-website-value {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 16.9pt;
    padding-top: 3.2px;
    padding-bottom: 30.2px;
    margin-left: 46px;
    display: inline-block;
}
/*component-skills*/
.component-skills {
    margin-top: 4.1%;
    text-align: center;
}

.component-skills-header {
    display: -webkit-flex;
    display: flex; 
    margin-bottom: 25px;
}

.component-skills-header-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 79px;
}

.component-skills-header-text {
    font-size: 34.5pt;
    margin-top: 9px;
    margin-bottom: auto;
    margin-left: 8.7px;
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0;
}

.component-skills-header-line {
    margin-top: 36px;
    margin-bottom: auto;
    margin-left: 14px;
    width: 100%;
    height: 5px;
    background-color: #3d6cb0;
}

.component-skills-content {
   display: inline-block;
}

.component-skills-content-creative,
.component-skills-content-teamwork,
.component-skills-content-innovate,
.component-skills-content-communication {
    margin-bottom: 9.5px;
}

.component-skills-content-creative-text,
.component-skills-content-teamwork-text,
.component-skills-content-innovate-text,
.component-skills-content-communication-text {
    font-family: "MyriadPro-Regular";
    font-size: 21.5pt;
    margin-left: 7px;
}

.component-skills-content-creative-circles,
.component-skills-content-teamwork-circles,
.component-skills-content-innovate-circles,
.component-skills-content-communication-circles {
    max-width: 347px;
    width: 347px;
    padding-bottom: 13.6px;
    padding-top: 9px;
    display: flex;
}

.component-skills-content-creative-circle,
.component-skills-content-teamwork-circle,
.component-skills-content-innovate-circle,
.component-skills-content-communication-circle {
    margin-right: 3.5%;
    background-color: #3d6cb0;
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
}

.component-skills-content-creative-circle:nth-child(n+10),
.component-skills-content-teamwork-circle:nth-child(n+12),
.component-skills-content-innovate-circle:nth-child(n+7),
.component-skills-content-communication-circle:nth-child(n+12) {
    background-color: #e6e6e6;
}
/*component-education*/
.component-education {
    margin-top: 12.0%;
}

.component-education-header {
    display: -webkit-flex;
    display: flex; 
    margin-bottom: 28px;

}

.component-education-header-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 79px;
}

.component-education-header-text {
    font-size: 34.3pt;
    margin-top: 8px;
    margin-bottom: auto;
    margin-left: 20.3px;
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0;
}

.component-education-header-line {
    margin-top: 34px;
    margin-bottom: auto;
    margin-left: 8px;
    width: 100%;
    height: 5px;
    background-color: #3d6cb0;
}

.component-education-content-list {
    list-style-image: url("../img/circle.png");
    list-style-position: outside;
    margin-left: 3px;
}

.component-education-content-list-item-header-title {
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0; 
    font-size: 21.2pt;
    margin-left: 15px;
    vertical-align:bottom;
}

.component-education-content-list-item-header-date {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 21.1pt;
    margin-left: 14px;
}

.component-education-content-list-item-header-university {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 21.1pt;
    margin-left: 16px
}

.component-education-content-list-item-content-text {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 12.8pt;
    margin-left: 17.1px;
    margin-top: 7.2px;
    margin-bottom: 13.8px;
}
/*component-experience*/
.component-experience {
    margin-top: 8.7%;
}

.component-experience-header {
    display: -webkit-flex;
    display: flex; 
    margin-bottom: 27px;
}

.component-experience-header-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 82px;
}

.component-experience-header-text {
    font-size: 34.3pt;
    margin-top: 12px;
    margin-bottom: auto;
    margin-left: 18.6px;
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0;
}

.component-experience-header-line {
    margin-top: 38px;
    margin-bottom: auto;
    margin-left: 2px;
    width: 100%;
    height: 5px;
    background-color: #3d6cb0;
}

.component-experience-content-list {
    list-style-image: url("../img/circle.png");
    list-style-position: outside;
    margin-top: 42.6px;
    margin-left: 4px; 
}

.component-experience-content-list-item-header-title {
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0; 
    font-size: 21.2pt;
    vertical-align: bottom;
    margin-left: 15px;
}

.component-experience-content-list-item-header-date {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 21.1pt;
    margin-left: 13px;
}

.component-experience-content-list-item-header-job {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 21.1pt;
    margin-left: 14px;
}

.component-experience-content-list-item-content-text {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 12.8pt;
    margin-left: 17.1px;
    margin-top: 7.2px;
    margin-bottom: 15.1px;
}
/*component-software*/
.component-software {
    margin-top: 8.2%;
}

.component-software-header {
    display: -webkit-flex;
    display: flex; 
    margin-bottom: 28px;
}

.component-software-header-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 79px;
}

.component-software-header-text {
    font-size: 34.3pt;
    margin-top: 13px;
    margin-bottom: auto;
    margin-left: 19.7px;
    font-family: "MyriadPro-Bold", "Arial", "sans-serif";
    color: #3d6cb0;
}

.component-software-header-line {
    margin-top: 39px;
    margin-bottom: auto;
    margin-left: 24px;
    width: 100%;
    height: 5px;
    background-color: #3d6cb0;
}

.component-software-content {
    display: -webkit-flex;
    display: flex;
}

.component-software-content-block-left {
    margin-left: 1.4%;
    width: 43.7%;
}

.component-software-content-photoshop-text,
.component-software-content-illustrator-text,
.component-software-content-idesign-text,
.component-software-content-dreamweaver-text,
.component-software-content-aftereff-text,
.component-software-content-htmlcss-text {
    font-family: "MyriadPro-Regular", "Arial", "sans-serif";
    font-size: 21.1pt;
}

.component-software-content-photoshop-line,
.component-software-content-illustrator-line,
.component-software-content-idesign-line,
.component-software-content-dreamweaver-line,
.component-software-content-aftereff-line,
.component-software-content-htmlcss-line {
    margin-top: 16px;
    margin-bottom: 21px;
    height: 23.3px;
    background-color: #e6e6e6;
}

.component-software-content-photoshop-line {
    margin-bottom: 25px;
}

.component-software-content-illustrator-line {
    margin-top: 14px;
    margin-bottom: 26px;
}

.component-software-content-idesign-line {
    margin-top: 7px;
}

.component-software-content-dreamweaver-line {
    margin-bottom: 26px;
}

.component-software-content-aftereff-line {
    margin-top: 12px;
    margin-bottom: 27px;
}

.component-software-content-htmlcss-line {
    margin-top: 9px;
}

.component-software-content-photoshop-line-back {
    height: 23.3px;
    width: 90%;
    background-color: #3d6cb0;
}

.component-software-content-illustrator-line-back {
    height: 23.3px;
    width: 70.0%;
    background-color: #3d6cb0;
}

.component-software-content-idesign-line-back {
    height: 23.3px;
    width: 56%;
    background-color: #3d6cb0;
}

.component-software-content-block-right {
    margin-left: 10.7%;
    width: 43.8%;
}

.component-software-content-dreamweaver-line-back {
    height: 23.3px;
    width: 83%;
    background-color: #3d6cb0;
}

.component-software-content-aftereff-line-back {
    height: 23.3px;
    width: 61%;
    background-color: #3d6cb0;
}

.component-software-content-htmlcss-line-back {
    height: 23.3px;
    width: 90%;
    background-color: #3d6cb0;
}

@media only screen and (max-width : 950px) {
    .block-right {
        float: left;
        margin-right:0;
    }
    
    .block-left, 
    .block-right {
        max-width: 100%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .component-contact {
        text-align: center;
    }
    .component-education {
        margin-top: 9%;
    } 
    .component-name {
        margin-left: 0;
    }
    .component-name-container {
        text-align: center;
    }
}

@media only screen and (max-width : 600px) {
    .block-left, 
    .block-right {
        margin-left: 2%;
        margin-right: 2%;
    }
}